<ion-content class="ion-no-padding onBoarding">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="light" (click)="goNext()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="toolbar">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" class="ion-padding-end">
        <ion-button (click)="skip()">
          Skip
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <swiper-container pagination="true" class="sw-container" #mainSlides>
    <swiper-slide class="ion-no-padding slide-1">
      <div class="slider-text slide-1-text ion-text-center">
        <h2>Welcome</h2>
        <p>
          Search for movies, select showtimes, and purchase tickets in a few clicks!
        </p>
      </div>
    </swiper-slide>
    <swiper-slide class="ion-no-padding slide-2">
      <div class="slider-text slide-2-text ion-text-center">
        <h2>Purchase tickets!</h2>
        <p>
          Thanks for choosing us! Ready to start booking your tickets?
        </p>
      </div>
    </swiper-slide>
    <swiper-slide class="ion-no-padding slide-3">
      <div class="slider-text slide-2-text ion-text-center">
        <ion-button (click)="toHome()" color="tertiary" size="large">Let's go!</ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
