ion-content {
  --background: #070d2d;
}

ion-grid {
  margin: 20px;
}

ion-row {
  margin-bottom: 20px;
}

ion-card {
  height: 200px;
  background-color: #151935;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
