
  <ion-tabs class="navigation">
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" color="light">
        <ion-icon name="home-outline"  aria-hidden="true"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="buy-ticket" color="light">
        <ion-icon name="ticket-outline" aria-hidden="true"></ion-icon>
        <ion-label>Ticket</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories" color="light">
        <ion-icon name="apps-outline" aria-hidden="true"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" color="light">
        <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

