<ion-content color="primary">
    <div class="center">
      <ion-grid>
        <ion-row>
          <ion-text>
            Your ticket have been sent in your email!
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-icon name="checkmark-done-outline" size="large" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          {{counter}}
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
