<ion-content color="primary">
  <div class="profile-header">
    <div class="profile-header-background">

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

    </div>
    <div class="profile-header-content">

      <h1 class="profile-name">{{userName}}</h1>
    </div>
  </div>

  <div class="profile-body">
    <ion-list class="ion-no-padding" color="primary">
      <ion-list-header color="primary">
        <ion-label color="light">About</ion-label>
      </ion-list-header>
      <ion-item color="primary">
        <ion-icon name="location-outline" slot="start" color="light"></ion-icon>
        <ion-label color="light">OUJDA, MOR</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="logo-paypal" slot="start" color="light"></ion-icon>
        <ion-label color="light">Paypal</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="briefcase-outline" slot="start" color="light"></ion-icon>
        <ion-label color="light">Google</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="mail-outline" slot="start" color="light"></ion-icon>
        <ion-label color="light">{{userEmail}}</ion-label>
      </ion-item>
      <ion-item color="primary">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label color="light">HistorySl</ion-label>
      </ion-item>
    </ion-list>

    <ion-button color="danger" class="login-button" (click)="logout()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Logout

    </ion-button>
  </div>
</ion-content>
